/* Faculty Registeration*/

body{
background-image:url("../images/img.jpg");
background-size:100%;
background-repeat:no-repeat;
}

.main{
text-align:center;
margin-top:35%;
border:1px solid grey;
border-radius:5px
}

.input{
text-align:center;
margin-top:5px;
}

.subm{
margin-top:10px;
margin-bottom:10px;
}

.box{
text-align:center;
width:75%;
border-radius:5px;
}

.button{
width:40%;
border-radius:5px;
}

/*Faculty Login*/

.fabody{
background-image:url('../images/imag.jpg');
background-size:100%;
background-repeat:no-repeat;
}

.main1{
text-align:center;
margin-top:35%;
border:1px solid grey;
border-radius:5px;
}

.htag{
text-align:center;
color:#f09337;
}

.fin{
text-align:center;
margin-top:5px
}

.fabox{
width:75%;
border-radius:5px;
}

.fbut{
margin-top:10px;
margin-bottom:10px;
}

.fsub{
width:40%;
border-radius:5px;
}

/*Faculty Home*/

.fahome{
background-image:url('../images/img2.jpg')
}