/* Student Login*/
body{
background-image:url("../images/img1.jpg");
background-size:100%

}

h2{
text-align:center;
color:#211212;
}
.main{
/*background-color:#ffffff00;*/
border: 1px solid grey;
border-radius:5px;
margin-top:35%;
}

.input{
margin-top:5px;
text-align:center;
}
.subm{
text-align:center;
margin-top:10px;
margin-bottom:10px;
}

.box{
text-align:center;
width:75%;
border-radius:5px;
}

.button{
width:40%;
border-radius:5px;
}